PORT=8001

DATABASE_URL=postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require&channel_binding=require&schema=auth

JWT_SECRET=jwt-secret
JWT_ACCESS_TOKEN_EXPIRY_MIN=60
JWT_REFRESH_TOKEN_EXPIRY_DAYS=7

INTERNAL_API_KEY=change-me-too

# CORS
FRONTEND_ORIGIN=http://localhost:3000
