PORT=8006

JWT_SECRET=jwt-secret

INTERNAL_API_KEY=api-key

# service URLs
EARNINGS_SERVICE_URL=http://localhost:8002
AUTH_SERVICE_URL=http://localhost:8001

# CORS
FRONTEND_ORIGIN=http://localhost:3000
